@charset "utf-8";

html {
 overflow-y: scroll;
}

body {
	background-color: #464646;
}

#top img {
	display:block;
	margin:0 auto;
}

#menu{
	position: relative;

}

#menu ul{
    list-style: none outside none;
    float: left;
    margin: 0 0 0 0;
    padding: 0;
    position: relative;
    left: 50%;
}
#menu li{
    float: left;
    margin-right: 5px;
    padding: 5px;
    position: relative;
    left: -50%;
}
#menu li a{
	display: block;
	border-left: 8px solid #C97556;
	background-color: #464646;
	padding: 3px 10px;
	text-decoration: none;
	color: #E1E2CF;
	width: 115px;
	margin: 1px 0px;
	text-align: center;
	font-size: 14px;
}
#menu li a:hover{
	border-left: 8px solid #990033;
	background-color: #474655;
}